.container {
    width: 90%;
    max-width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.todobody {
    margin-top: 2rem;
    text-align: center;
}