.container {
    width: 90%;
    max-width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.todobody {
    margin-top: 2rem;
    align-items: center !important;
}

.rowcontainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-blue-500);
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

.completeCon {
    display: flex;
    justify-content: space-between;
    text-decoration: line-through;
    border: 1px solid var(--color-gray-300);
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    padding-left: 10px;
    background-color: var(--color-gray-200)
}

.loader {
    display: flex;
    justify-content: center;
}